.body{
  font-family: 'Open Sans', sans-serif !important;
}

.font{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 11.5pt;
}

ul, li, ul li, ul li a{
  text-decoration: none !important;
  color: black;
  margin: 10px 0;
}

.content{
  margin: 0;
}

.main-content{
  margin: auto 5%;  
}

.horizontal-logo{
  max-width: 300px;
  position: relative;
  top: 0px;
}

.vertical-logo{
  max-width: 100px;
}

.title{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.55em;
    font-weight: 900;
}

.header{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding:10px 20px;
}

.grid{
  display: grid;
}

.grid-center{
  align-items: center;
}

.grid-template-two-columns {
	grid-template-columns: 1fr 5fr;
}

.grid-template-three-columns {
	grid-template-columns: 1fr 1fr 1fr;
}

.gap{
  column-gap: 30px;
}

.grid-auto-flow-row-2 {
	grid-template-columns: 1fr 5fr;
  grid-template-rows: calc(100vh - 80px);
	grid-auto-flow: row;  
}

.grid-auto-flow-row-3 {
	grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
	grid-auto-flow: row;  
}

.item{
  margin: 0;
  text-align: center;
}

.inline{
  display: inline-block;
  margin-right: 15px;
}

.primary-btn{
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
  font-size: 12pt;
  font-weight: 400;
  background-color: #e9983f;
  color: white;
}

.primary-btn:hover{
  background-color: #e9983f;
  cursor: pointer;
}

.secondary-btn{
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
  background: none;
  font-size: 12pt;
  font-weight: 600;
  color: #333;
}

.secondary-btn:hover{
  color: #e9983f;
  cursor: pointer;
}

.btn-border{
  border: 1px solid #e9983f;
  color: #e9983f;
}

.btn-border:hover{
  border: 1px solid #e9983f;
  background-color: #e9983f;
  color: white;
  font-weight: 600;
}

/*----- MENU LATERAL ----*/
.menu{
  background-color: #2f353c;
  padding: 25px 30px;
}


.description{
  display:block;
  margin: 30px 0;
}

label.field-description{
  display: inline-block;
  margin-bottom: 15px !important;
  font-weight: 600;
}

textarea {
  resize: none;
  overflow: auto;
  height: 500px !important;
  margin: 0;
}

.input-area{
  height: 500px !important;
}

.menu .arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .menu input[type="checkbox"]:checked + label > .arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}


/* ------ TAB PROCESSO ---------*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(255, 247, 247);
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: #e9983f;
}

.nav-item.active {
  background-color: #e9983f;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}